.page-header
  .pull-right
    = link_to edit_workout_path(@workout) do
      %span.fa.fa-pencil-square-o
      Edit Workout
  %h1
    %span.fa.fa-eye
    = "#{@workout.name} Workout"
    %small= @workout.start_at.strftime('%D')

.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h4 Exercises
      .panel-body
        %table.table.table-striped
          %thead
            %tr
              %th Work Set #
              %th Repetitions
              %th Weight
          %tbody
            - @workout.exercises.each do |exercise|
              %tr
                %td{colspan: 3}
                  %strong= exercise.movement.name
              - exercise.work_sets.each_with_index do |work_set, index|
                %tr
                  %td Work Set ##{index + 1}
                  %td= work_set.repetitions
                  %td= work_set.weight
              %tr
                %td{colspan: 3}
