.container
  .row
    .col-md-6.col-md-offset-3
      .panel.panel-default
        .panel-heading 
          %h3.panel-title Log In
        .panel-body
          = form_for :session, url: login_path do |f|
            .form-group
              = f.label :email, 'Email'
              .input-group
                %span.input-group-addon @
                = f.text_field :email, class: 'form-control', placeholder: 'Enter email'
            .form-group
              = f.label :password, 'Password'
              .input-group
                %span.input-group-addon
                  %span.fa.fa-lock
                = f.password_field :password, class: 'form-control', placeholder: 'Enter password'
            = f.submit 'Log In', class: 'btn btn-block btn-primary'
          

